<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/listxq.css" rel="stylesheet" />
	</head>

	<body id="checked">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<a class="mui-btn  mui-pull-right   mui-btn-danger  mui-btn-outlined" v-on:tap="read()">审批</a>
			<h1 class="mui-title" style="margin-right: 30px;">{{cont.mod_name}}</h1>
		</header>
		<div class="mui-content mui-content-padded">
			<div class="biaoqian" v-if="qianzhang">
				待审批
			</div>
			<p class="mui-ellipsis xqtitle">业务名称：{{cont.mod_name}}</p>
			<p><span>业务说明：{{cont.bill_title}}</span></p>
			<p><span>到达时间：{{cont.arrive_date}}</span></p>

			<p><span>发起人：{{cont.start_human}}</span></p>
			<p><span>发起部门：{{cont.start_mbsdept_name}}</span></p>
			<p><span>发起时间：{{cont.start_date}}</span></p>
			<!----------------------------------------业务详情--------->
			<div class="item item-text-wrap" style="border: none;">
				<p class="bar-p">业务详情</p>
				<hr class="bar-div" />
				<div v-for="i in itm" class="listBox">
					<div class="padding-span">
						<p><span style="color: black;">{{$key}} &nbsp;</span>{{i}}</p>
					</div>
				</div>
			</div>
			<!---------------------------------------审批历史-->
			<div style="border: none; margin-top: 20px;">
				<p class="bar-p">审批历史 <span class="show" @click="show=!show">{{show?"隐藏":"展开"}}</span> </p>
				<hr class="bar-div" />
				<div class="hisList" v-for="i in his" v-if="show">
					<div><span class="hisTit">操作：</span><span class="hisConetnt">{{i.check_value}}</span></div>
					<div><span class="hisTit">审批人：</span><span class="hisConetnt">{{i.human_name}}</span></div>
					<div><span class="hisTit">到达时间：</span><span class="hisConetnt">{{i.arrive_date}}</span></div>
					<div><span class="hisTit">审批时间：</span><span class="hisConetnt">{{i.check_date}}</span></div>
					<div><span class="hisTit">审批意见：</span><span class="hisConetnt">{{i.check_text}} </span><span></span></div>
				</div>
				<div v-if="his.length==0" style="text-align: center;">暂无审批历史</div>
			</div>
			<div style="height: 60px;"></div>
			<div class="buttonBox">
				<button @click="mxs()">明细</button>
				<button class="fj" @click="fujian()">附件</button></p>
			</div>

		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/vue.js"></script>
		<script src="../../js/serve.js"></script>

		<script type="text/javascript">
			var checked = new Vue({
				el: "#checked",
				data: {
					cont: {},
					itm: [],
					his: [],
					isfalse: false,
					qianzhang: false,
					cha: '',
					obj: "",
					obj1: "",
					show: true,
					qianzhang: false
				},
				ready: function() {
					var serf = this;
					mui.init({
						swipeBack: true
					});
					mui.plusReady(function() {
						var cont = plus.webview.currentWebview()
						serf.cont = cont

						serf.obj = JSON.parse(plus.storage.getItem("loginData"))

						serf.getData()
						serf.getwfdata_list_sid()
					})

				},
				methods: {
					getData: function() {
						var data = {
							"accountname": this.obj.accountname,
							"wfdata_list_sid": this.cont.wfdata_list_sid,
						}
						TB.get("GetAuditDetail/", JSON.stringify(data), function(res) {
							this.itm = JSON.parse(res.data);
							this.qianzhang = true
							this.getList();

						}.bind(this))
					},
					getList: function() {
						var data = {
							"accountname": this.obj.accountname,
							"bill_sid": this.cont.bill_sid,
						}
						TB.get("GetCheckRecord/", JSON.stringify(data), function(res) {
							var arr = []
							res.data.forEach(function(v) {
								arr.push(JSON.parse(v))
							})

							this.his = arr

						}.bind(this))
					},
					getwfdata_list_sid: function() {
						var data = {
							"accountname": this.obj.accountname,
							"wfdata_list_sid": this.cont.wfdata_list_sid,
						}
						TB.get("GetWfModInfo/", JSON.stringify(data), function(res) {
							console.log(JSON.stringify(res))
							this.obj1 = res
							this.check_type = res.check_type
						}.bind(this))
					},
					read: function() {
						console.log(this.check_type)
						var buttons = [{
							title: '同意'
						}, {
							title: '不同意'
						}, {
							title: '退回'

						}, {

							title: '终止'
						}]
						if(this.check_type == 1) {
							buttons = [{
								title: '同意'
							}, {
								title: '不同意'
							}, {
								title: '终止'
							}]
						}
						var serlf = this;
						plus.nativeUI.actionSheet({
							title: '请选择',
							cancel: '取消',
							buttons: buttons
						}, function(b) {
							switch(b.index) {
								case 0:
									break;
								case 1:
									serlf.to("ty.html", "ty")
									break;
								case 2:
									serlf.to("bty.html", "bty")
									break;
								case 4:
									serlf.to("zz.html", "zz")
									break;
								default:
									serlf.to("th.html", "th")

							}
						})

					},
					splc: function() {
						var serf = this;
						//						serf.bill_sid
						mui.openWindow({
							url: 'splc.html',
							id: 'splc',
							extras: {

								bill_sids: serf.bill_sid
							},
							show: {
								aniShow: 'slide-in-right'
							},
							waiting: {
								autoShow: false, //自动显示等待框，默认为true					      

							}
						})
					},
					mxs: function() {
						var serf = this;
						mui.openWindow({
							url: "mx.html",
							id: "mx",
							extras: {
								wfdata_list_sid: serf.cont.wfdata_list_sid,
							},
							show: {
								aniShow: "slide-in-right"
							},
							waiting: {
								autoShow: false,
							}
						})
					},
					to: function(x, y) {
						var obj = {
							"wfdata_list_sid": this.cont.wfdata_list_sid,
							"human_sign_sid": this.cont.human_sign_sid,
							"wfdata_sid": this.cont.wfdata_sid,

							"rec_sid": this.cont.rec_sid,
							"bill_sid": this.cont.bill_sid,
							"work_step_sid": this.obj1.workflow_step_sid,

						}

						mui.openWindow({
							url: x,
							id: y,
							extras: obj,
							show: {
								aniShow: "slide-in-right"
							},
							waiting: {
								autoShow: false,
							}
						})
					},
					fujian: function() {
						var serf = this;
						mui.openWindow({
							url: "fujian.html",
							id: "fujian",
							extras: {
								bill_sids: this.cont.bill_sid
							},
							show: {
								aniShow: "slide-in-right"
							},
							waiting: {
								autoShow: false,
							}
						})
					}

				}

			})
		</script>
	</body>

</html>