<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=0.5,maximum-scale=2,user-scalable=yes" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<style>
			.list {
				position: relative;
				height: 65px;
				border-bottom: 1px solid gainsboro;
				margin: 0 10px;
			}
			
			.list>span {
				line-height: 46px;
			}
			
			.btn {
				font-size: 14px;
				color: gray;
				position: absolute;
				bottom: 5px;
				width: 100%;
			}
			
			.tit {
				margin-top: 10px;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				overflow: hidden;
			}
		</style>
	</head>

	<body id="fujian">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">附件列表</h1>
		</header>
		<div class="mui-content">
			<div id="fu" style="text-align: center;line-height: 50px;"></div>
			<div class="list" v-for='i in itm | orderBy "filesize" ' v-on:tap='open(i)'>
				<div class="tit">{{i.attach_name}}</div>
				<div class="btn">{{i.filesize}}
					<span style="float: right;">{{i.is}}</span>
					<span v-if="i.is=='已下载'" style="float: right;margin-right: 10px;" @tap.stop="clcik(i)">重新下载</span>

				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/vue.js"></script>
		<script src="../../js/serve.js"></script>

		<script type="text/javascript">
			var fujian = new Vue({
				el: '#fujian',
				data: {
					itm: [],
					bill_sids: ""
				},
				ready: function() {
					var that = this;
					mui.init();
					mui.plusReady(function() {
						var con = plus.webview.currentWebview();
						that.bill_sids = con.bill_sids
						that.getData()
					})
				},
				methods: {
					getData: function() {
						var data = {
							"accountname": "hc",
							"bill_sid": this.bill_sids,
						}
						TB.get("GetBillFile/", JSON.stringify(data), function(res) {
							var arr = []
							console.log(res.data[0])
							res.data.forEach(function(v) {
								var obj = JSON.parse(v)
								obj.attach_url = 'http://47.112.137.218:8088' + obj.attach_url
								this.feach(obj)
								arr.push(obj)
							}.bind(this))
							setTimeout(function() {
								this.itm = arr;
							}.bind(this), 100)
						}.bind(this),function(data){
							mui.toast(data.msg, {
								duration: 'long'
							})
								
						})
					},
					//查询是否含有该文件
					feach: function(name) {
						var that = this;

						var FileSystemURL = '_downloads/' + name.attach_name;
						var IMG = name.attach_name.split('.')[1].toUpperCase();
						if(IMG == 'JPG' || IMG == 'JPEG' || IMG == 'PNG' || IMG == 'BMP' || IMG == 'GIF') {
							name.is = '打开';
							return;
						}
						plus.io.resolveLocalFileSystemURL(FileSystemURL, function(entry) {
							//路径存在	
							name.is = '已下载';
						}, function(e) {
							//路径不存在
							name.is = '未下载';
						});
					},

					/*
					 * 打开附件
					 * */
					open: function(url) {
						if(url.filesize=='-1B'){
							mui.toast("附件无法下载")
							return
						}


						var that = this;
						var IMG = url.attach_name.split('.')[1].toUpperCase();
						console.log(IMG)
						if(IMG == 'JPG' || IMG == 'JPEG' || IMG == 'PNG' || IMG == 'BMP' || IMG == 'GIF') {
							mui.openWindow({
								url: 'IMGS.html',
								id: 'IMGS',
								extras: {
									data: url
								},
							})
							return;
						}
						if(url.is == '已下载') {
							var FileSystemURL = '_downloads/' + url.attach_name;
							plus.io.resolveLocalFileSystemURL(FileSystemURL, function(entry) {
								plus.runtime.openFile(FileSystemURL, {}, function(e) {});
							});
						} else {
							plus.nativeUI.confirm('是否下载：\r\n' + url.attach_name, function(e) {
								if(e.index == 0) {
									url.attach_name = url.attach_name
									that.dowload(url, url.attach_url)
								}
							});
						}
					},
					clcik: function(url) {
						if(url.filesize=='-1B'){
							mui.toast("附件无法下载")
							return
						}
						var that = this;
						var IMG = url.attach_name.split('.')[1].toUpperCase();
						console.log(IMG)
						if(IMG == 'JPG' || IMG == 'JPEG' || IMG == 'PNG' || IMG == 'BMP' || IMG == 'GIF') {
							mui.openWindow({
								url: 'IMGS.html',
								id: 'IMGS',
								extras: {
									data: url
								},
							})
							return;
						}

						plus.nativeUI.confirm('是否重新下载：\r\n' + url.attach_name, function(e) {
							if(e.index == 0) {
								var FileSystemURL = '_downloads/' + url.attach_name;
								console.log(FileSystemURL)
								plus.io.resolveLocalFileSystemURL(FileSystemURL, function(entry) {
									console.log(entry)
									entry.remove(function(entry) {
								       that.dowload(url, url.attach_url)										
									}, function(e) {
									console.log(e)
									 that.dowload(url, url.attach_url)
										
									});
								});


							}
						});

					},
					//下载文件
					dowload: function(name, url) {
						var strurl = url.replace(/\\/g, "/");
						console.log(strurl)
						var names = '_downloads/' + name.attach_name;
						var options = {
							method: "GET",
							filename: names
						};
						dtask = plus.downloader.createDownload(strurl, options);
						dtask.addEventListener("statechanged", function(task, status) {
							switch(task.state) {
								case 1: // 开始
									console.log("开始下载...");
									break;
								case 2: // 已连接到服务器 
									console.log("链接到服务器...");
									name.is = '下载中...'
									break;
								case 3: // 已接收到数据
									var a = Math.floor(task.downloadedSize / task.totalSize * 100) + '%';
									name.is = '下载中: ' + a
									break;
								case 4: // 下载完成
									console.log("下载完成！");
									name.is = '已下载'
									break;
							}
						}, function(err) {
							console.log(err)
						});
						dtask.start();
					}
				}
			})
		</script>
	</body>

</html>