<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/listxq.css" rel="stylesheet" />

	</head>

	<body id="listxq">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<a class="mui-btn  mui-pull-right mui-btn-primary mui-btn-outlined" v-if="istrue" v-on:tap="read()">查阅</a>
			<h1 class="mui-title" style="margin-right: 30px;">{{cont.mod_name}}</h1>
		</header>
		<div class="mui-content ">
			<div class="head">
				<div class="biaoqian" v-if="qianzhang">
					待查阅
				</div>
				<div class="li1"><span>业务名称：</span>
					<p>{{cont.mod_name}}</p>
				</div>
				<div class="li1"><span>单据标题：</span>
					<p>{{cont.bill_title}}</p>
				</div>
				<div class="li1"><span>送达时间：</span>
					<p>{{cont.arrive_date}}</p>
				</div>
				<div class="li1"><span>发&nbsp;&nbsp;起&nbsp;&nbsp;人：</span>
					<p>{{cont.start_human}}</p>
				</div>
				<div class="li1"><span>发起部门：</span>
					<p>{{cont.start_mbsdept_name}}</p>
				</div>
				<div class="li1"><span>发起时间：</span>
					<p>{{cont.start_date}}</p>
				</div>
			</div>
			<div class="item " style="border: none;">
				<p>业务详情</p>
				<div v-for="i in itm" class="listBox" v-if="i">
					<span style="color: gray;">{{$key}}</span>
					<div style="color: black;">{{i}}</div> 
				</div>
			</div>
			<!---------------------------------------审批历史-->

			<div class="hisListBox">
				<div class="hisList" v-for="i in his">
					<div class="hisleft">
						{{i.arrive_date}}
					</div>
					<div class="hiscontentBox">
						<div class="hiscontent">
							<div><span class=" black">{{i.human_name}}-{{i.check_value}}</span><span class="gray" style="font-size: 13px;">{{i.check_date}}</span></div>
							<div><span class="hisTit">{{i.check_text}}</span></div>
						</div>
					</div>

				</div>
			</div>
			<div style="height: 80px;"></div>
			<div class="buttonBox">
				<button @click="mxs()">明细</button>
				<button class="fj" @click="fujian()">附件</button></p>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/vue.js"></script>
		<script src="../../js/serve.js"></script>
		<script src="../../js/base64.js"></script>
		<script type="text/javascript">
			var list = new Vue({
				el: "#listxq",
				data: {
					cont: {},
					itm: [],
					his: [],
					isfalse: false,
					qianzhang: false,
					cha: '',
					obj: "",
					show: true,
					img: "",
					sign_psw: "",
					istrue: true
				},
				ready: function() {
					var serf = this;
					mui.init({
						swipeBack: true
					});
					mui.plusReady(function() {

						var cont = plus.webview.currentWebview()
						serf.cont = cont

						serf.obj = JSON.parse(plus.storage.getItem("loginData"))
						serf.getData()
						serf.getQz()
					})

				},
				methods: {
					getData: function() {
						var data = {
							"accountname": this.obj.accountname,
							"wfdata_list_sid": this.cont.wfdata_list_sid,
						}
						TB.get("GetAuditDetail/", JSON.stringify(data), function(res) {
							this.itm = JSON.parse(res.data);
							this.qianzhang = true
							this.getList();
						}.bind(this))
					},
					getList: function() {
						var data = {
							"accountname": this.obj.accountname,
							"bill_sid": this.cont.bill_sid,
						}
						TB.get("GetCheckRecord/", JSON.stringify(data), function(res) {
							var arr = []
							res.data.forEach(function(v) {
								arr.push(JSON.parse(v))
							})

							this.his = arr
						}.bind(this))
					},
					getQz: function() {
						var data = {
							"accountname": this.obj.accountname,
							"human_sid": this.obj.human_sid,
						}

						TB.get("NewGetPersonSignPicPwd/", JSON.stringify(data), function(res) {

								this.img = localStorage.getItem('failPath')+'/HCFile/' + res.human_sign_sid + '.png'
								console.log(this.img)
							console.log(JSON.stringify(res))
							this.sign_psw = res.sign_psw

						}.bind(this))
						//						NewGetPersonSignPicPwd
					},
					read: function() {

						if(this.sign_psw != '') {
							TB.alert(this.img, function(e) {
								if(e.index == 0) {} else {
									var inputs = '"' + e.value + '"';
									if(this.sign_psw == inputs) {
										this.submits()
									} else {
										mui.toast("签章密码错误")
									}
								}
							}.bind(this))
						} else {
							this.submits()

						}

					},
					submits: function() {
						var serf = this;
						mui.prompt('请输入查阅意见', '请输入查阅意见', '提示', ['取消', '确认'], function(e) {
							if(e.index == 1) {
								var val = e.value
								var str = Base64.encode(val).replace(/\//g,"*");

								var data = {
									"accountname": serf.obj.accountname,
									"wfdata_list_sid": serf.cont.wfdata_list_sid,
									"human_sign_sid": serf.cont.human_sign_sid,
									"check_value": "4",
									"check_text":str  ,
									"human_sid": serf.obj.human_sid,
									"to_step_sid": "",
									"Allhuman": "",
								}

								console.log(JSON.stringify(data))
								TB.get("ExeWorkflowGoNext/", JSON.stringify(data), function(res) {

									var i = plus.webview.getWebviewById("reading");
									i.evalJS("read.countlist()");
									var ii = plus.webview.getWebviewById("index.html");
									ii.evalJS("index.getCount()");
									mui.toast("操作成功")							
									var self1 = plus.webview.currentWebview();　　 //当前窗口对象							　
								    self1.close('slide-out-right');
									
									serf.istrue = false;
								}.bind(this))
							} else {

							}
						}, 'div')
					},
					mxs: function() {
						var serf = this;
						mui.openWindow({
							url: "mx.html",
							id: "mx",
							extras: {
								wfdata_list_sid: serf.cont.wfdata_list_sid,
							},
							show: {
								aniShow: "slide-in-right"
							},
							waiting: {
								autoShow: false,
							}
						})
					},
					fujian: function() {
						mui.openWindow({
							url: "fujian.html",
							id: "fujian",
							extras: {
								bill_sids: this.cont.bill_sid
							},
							show: {
								aniShow: "slide-in-right"
							},
							waiting: {
								autoShow: false,
							}
						})
					}

				}

			})
		</script>
	</body>

</html>