<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
	</head>

	<body id="th">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<a class="mui-btn  mui-pull-right   mui-btn-danger  mui-btn-outlined" v-on:tap="read()">提交</a>
			<h1 class="mui-title">退回</h1>
		</header>
		<div class="mui-content">
			<p style="margin-top: 10px;padding-left: 10px;color: black;font-size: 16px;">审批意见：</p>
			<textarea name="" rows="" cols="" placeholder="请输入审批意见" style="height: 130px;" v-model='text' maxlength="300"></textarea>
			<p style="padding-left: 10px;color: black;font-size: 16px;">下一节点人员：</p>
			<div>
				<div class="mui-scroll" style="height: 250px;overflow-y:scroll;">
					<ul class="mui-table-view mui-table-view-radio">
						<li class="mui-table-view-cell" v-for='i in itm'>
							<a class="mui-navigate-right" @click='thr(i.workflow_step_sid)'>
								{{i.human_name_list}}--{{i.step_name}}
							</a>
						</li>
					</ul>
				</div>

			</div>
			<script src="../../js/mui.min.js"></script>
			<script src="../../js/vue.js"></script>
			<script src="../../js/serve.js"></script>
			<script src="../../js/base64.js"></script>

			<script type="text/javascript">
				var th = new Vue({
					el: "#th",
					data: {
						text: '',
						people: '',
						wfdata_sid: "",
						itm: [],
						name: '',
						human_sign_sid: '',
						SignActive: '',
						list_sid: '',
						qzpass: '',
						img: '',
					},
					ready: function() {
						mui.init({
							swipeBack: true //启用右滑关闭功能
						});
						var serf = this;

						mui.plusReady(function() {
							var cont = plus.webview.currentWebview()
							serf.cont = cont
							serf.obj = JSON.parse(plus.storage.getItem("loginData"))
							plus.nativeUI.showWaiting()
							serf.getPeople()
							serf.getQz()
						})

					},
					methods: {
						getQz: function() {
							var data = {
								"accountname": this.obj.accountname,
								"human_sid": this.obj.human_sid,
							}
							TB.get("NewGetPersonSignPicPwd/", JSON.stringify(data), function(res) {
								this.img = localStorage.getItem('failPath')+'/HCFile/' + res.human_sign_sid + '.png'
								
								this.sign_psw = res.sign_psw
							}.bind(this))
						},
						getPeople: function() {
							var data = {
								"accountname": this.obj.accountname,
								"wfdata_sid": this.cont.wfdata_sid,

							}
							TB.get("GetBackHuman/", JSON.stringify(data), function(res) {
								console.log(JSON.stringify(res.data))
								var arr = []
								res.data.forEach(function(v) {
									arr.push(JSON.parse(v))
								})
								this.itm = arr
							}.bind(this))
						},
						thr: function(workflow_step_sid) {
							console.log(workflow_step_sid);
							this.people = workflow_step_sid;
						},
						read: function() {
							var isthis = this;
							if(this.text == '') {
								mui.toast("审批意见不能为空");
								return;
							}
							if(this.people == '') {
								mui.toast("请勾选下一节点人员");
								return;
							}
							if(this.sign_psw != '') {
								TB.alert(this.img, function(e) {
									if(e.index == 0) {

									} else {
										var inputs = '"' + e.value + '"';
										if(this.sign_psw == inputs) {
											console.log(this.people)

											this.submits()
										} else {
											mui.toast("签章密码错误")
										}
									}
								}.bind(this))
							} else {
								this.submits()

							}

						},
						submits: function() {
							var isIOS = '【苹果端】';
							if(!mui.os.ios) {
								isIOS = '【安卓端】';
							}
							var val = isIOS + this.text
							var serf = this;
							var data = {
								"accountname": serf.obj.accountname,
								"wfdata_list_sid": serf.cont.wfdata_list_sid,
								"human_sign_sid": serf.cont.human_sign_sid,
								"check_value": "12",
								"check_text": Base64.encode(val).replace(/\//g,"*"),
								"human_sid": serf.obj.human_sid,
								"to_step_sid": this.people,
								"Allhuman": "",
							}
							console.log(JSON.stringify(data))
							TB.get("ExeWorkflowGoNext/", JSON.stringify(data), function(res) {
								var ii = plus.webview.getWebviewById("index.html");
								ii.evalJS("index.getCount()");　　
								var self = plus.webview.currentWebview();　　 //当前窗口对象							　
								var two = plus.webview.getWebviewById('listxq');
								var three = plus.webview.getWebviewById('list');
								three.evalJS("list.countlist()");　　　
								if(two != null) {　　
									two.close('slide-out-right');
								}　　
								self.close('slide-out-right');
								mui.toast("审批成功")
								serf.istrue = false;
							}.bind(this))

						},
					}

				})
			</script>
	</body>

</html>