<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
	</head>

	<body id="ty">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<a class="mui-btn  mui-pull-right   mui-btn-danger  mui-btn-outlined" v-if="istrue" v-on:tap="read()">提交</a>
			<h1 class="mui-title">同意</h1>
		</header>
		<div class="mui-content">
			<p style="margin-top: 10px;padding-left: 10px;color: black;font-size: 16px;">审批意见：</p>
			<textarea name="" rows="" cols="" placeholder="请输入审批意见" style="height: 130px;" v-model='text' maxlength="300"></textarea>
			<p style="padding-left: 10px;color: black;font-size: 16px;">下一节点人员：</p>
			<div>
				<div class="mui-scroll" style="height: 250px;overflow-y:scroll;">
					<form class="mui-input-group">
						<div class="mui-input-row mui-checkbox" v-for='i in itm'>
							<label>{{i.human_name}}({{i.step_stateName}}) </label>
							<input name="checkbox1" value="{{i.human_code}}*{{i.step_stateName}}*{{i.workflow_step_sid}}" type="checkbox" checked v-if='i.selected==1'>
							<input name="checkbox1" value="{{i.human_code}}*{{i.step_stateName}}*{{i.workflow_step_sid}}" type="checkbox" v-else>
						</div>
					</form>
				</div>
			</div>
			<script src="../../js/mui.min.js"></script>
			<script src="../../js/vue.js"></script>
			<script src="../../js/serve.js"></script>
			<script src="../../js/base64.js"></script>
			<script type="text/javascript">
				var ty = new Vue({
					el: "#ty",
					data: {
						text: '',
						itm: [],
						tpeople: [],
						cont: "",
						obj: "",
						name: '',
						img: '',
						sign_psw: '',
						list_sid: '',
						human_sign_sid: '',
						SignActive: '',
						istrue: true,
					},
					ready: function() {
						var serf = this
						mui.init({
							swipeBack: true //启用右滑关闭功能
						});
						mui.plusReady(function() {
							var cont = plus.webview.currentWebview()
							serf.cont = cont
							serf.obj = JSON.parse(plus.storage.getItem("loginData"))
							plus.nativeUI.showWaiting()

							serf.getPeople()
							serf.getQz()

						})
					},
					methods: {
						getQz: function() {
							var data = {
								"accountname": this.obj.accountname,
								"human_sid": this.obj.human_sid,
							}
							TB.get("NewGetPersonSignPicPwd/", JSON.stringify(data), function(res) {
								this.img = 'http://47.112.137.218:8088/HCFile/' + res.human_sign_sid + '.png'
								this.sign_psw = res.sign_psw
							}.bind(this))
						},
						getPeople: function() {
							var data = {
								"accountname": this.obj.accountname,
								"work_step_sid": this.cont.work_step_sid,
								"rec_sid": this.cont.rec_sid,
								"bill_sid": this.cont.bill_sid,
							}
							TB.get("GetNextCheckhuman/", JSON.stringify(data), function(res) {
								console.log(JSON.stringify(res.data))
								var arr = []
								res.data.forEach(function(v) {
									arr.push(JSON.parse(v))
								})
								this.itm = arr
							}.bind(this),function(res){
								console.log(res)
								mui.toast(res.msg)
							})
						},
						read: function() {
							this.tpeople = []
							var obj = document.getElementsByName('checkbox1');
							for(var i = 0; i < obj.length; i++) {
								if(obj[i].checked) {
									console.log(obj[i].value)
									this.tpeople.push(obj[i].value)
								}
							}
							if(this.tpeople.length == 0) {
								mui.toast("请勾选下一节点人员");
								return;
							}
							if(this.sign_psw != '') {

								TB.alert(this.img, function(e) {
									if(e.index == 0) {} else {
										var inputs = '"' + e.value + '"';
										if(this.sign_psw == inputs) {
											console.log(this.tpeople.join(","))
											this.sub()
										} else {
											mui.toast("签章密码错误")
										}
									}
								}.bind(this))
							} else {
								this.sub()

							}
						},
						sub: function() {
							var data = {
								"accountname": this.obj.accountname,
								"wfData_sid": this.cont.wfdata_sid,
								"wfdata_list_sid": this.cont.wfdata_list_sid,
								"Allhuman": this.tpeople.join(",")

							}
							console.log(JSON.stringify(data))
//							TB.get("PostWfDataList/", JSON.stringify(data), function(res) {
								this.submits()

//							}.bind(this))
						},
						submits: function() {
							var isIOS = '【苹果端】';
							if(!mui.os.ios) {
								isIOS = '【安卓端】';
							}
							var val = isIOS + this.text
							console.log(Base64.encode(val))

							var serf = this;
							var data = {
								"accountname": serf.obj.accountname,
								"wfdata_list_sid": serf.cont.wfdata_list_sid,
								"human_sign_sid": serf.cont.human_sign_sid,
								"check_value": "2",
								"check_text": Base64.encode(val),
								"human_sid": serf.obj.human_sid,
								"to_step_sid": "",
								"Allhuman": this.tpeople.join(","),
							}
							console.log(JSON.stringify(data))
							TB.get("ExeWorkflowGoNext/", JSON.stringify(data), function(res) {
								var ii = plus.webview.getWebviewById("index.html");
								ii.evalJS("index.getCount()");　　
								var self = plus.webview.currentWebview();　　 //当前窗口对象							　
								var two = plus.webview.getWebviewById('checked');
								var three = plus.webview.getWebviewById('checking');
								three.evalJS("checking.countlist()");　　
								if(two != null) {　　
									two.close('slide-out-right');
								}　　
								self.close('slide-out-right');
								mui.toast("审批成功")
								serf.istrue = false;
							}.bind(this))

						},

					}

				})
			</script>
	</body>

</html>