<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
	</head>
	<body id="ty" >
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		     <a class="mui-btn  mui-pull-right   mui-btn-danger  mui-btn-outlined" v-on:tap="read()" >提交</a>	    
		    <h1 class="mui-title">同意</h1>
		</header>
		<div class="mui-content">
			<p style="margin-top: 10px;padding-left: 10px;color: black;font-size: 16px;">审批意见：</p>
			<textarea name="" rows="" cols="" placeholder="请输入审批意见" style="height: 130px;" v-model='text'  maxlength="300"></textarea>
			<p style="padding-left: 10px;color: black;font-size: 16px;">下一节点人员：</p>
			<div>							
			<div class="mui-scroll" style="height: 250px;overflow-y:scroll;">
				<form class="mui-input-group" >
					<div class="mui-input-row mui-checkbox" v-for='i in itm'>
						<label>{{i.human_name}}({{i.step_stateName}}) </label>						
						<input name="checkbox1" value="{{i.human_code}}*{{i.step_stateName}}*{{i.workflow_step_sid}}" type="checkbox" checked v-if='i.istrue=="True"'>
						<input name="checkbox1" value="{{i.human_code}}*{{i.step_stateName}}*{{i.workflow_step_sid}}" type="checkbox"  v-if='i.istrue=="False"'>						
					</div>															
				</form>
			</div>			
		</div>
		<script src="../../js/mui.min.js"></script>
		
		<script src="../../js/jquery-3.1.0.min .js"></script>
		<script src="../../js/api.js"></script> 
		<script src="../../js/vue.js"></script>

		<script type="text/javascript">
			var ty = new Vue({
				el:"#ty",
				data:{
					text:'',
					workflow_step_sid:'',
					rec_sid:'',
					bill_sid:'',
					itm:[],
					tpeople:[],
					list_sid:'',
					SignActive:'',
					human_sign_sid:'',
					name:'',
					img:'',
					qzpass:'',
					wfdata_sid:'',
				},
				ready:function(){
					var srlf =this
					mui.init({
			          swipeBack:true //启用右滑关闭功能
					});
					mui.plusReady(function(){
						plus.nativeUI.showWaiting()
						srlf.name = plus.storage.getItem("human_sid");
						srlf.human_sign_sid = plus.storage.getItem("human_sign_sid");
						srlf.SignActive = plus.storage.getItem("SignActive");
						
						var con = plus.webview.currentWebview();
						srlf.rec_sid=con.rec_sids;
						srlf.workflow_step_sid=con.workflow_step_sids;
						srlf.wfdata_sid=con.wfdata_sids;
						srlf.bill_sid=con.bill_sids;
						srlf.list_sid=con.list_sids;												
						console.log(srlf.rec_sid)
						srlf.list();												
					})				
				},
				methods:{
					list:function(){
						var srlf =this;
						api.typeople(this.workflow_step_sid,this.rec_sid,this.bill_sid,function(data,tp){
							 plus.nativeUI.closeWaiting();
							if(tp=='err'){
		                      	mui.toast("请检查您的网络")
		                      	return;
		                    } 
							 var datas =JSON.parse(data).result[0];
		                     console.log(datas)							 
							 srlf.itm=JSON.parse(datas).records;							
                            srlf.qz();
						})
					},
					qz:function(){
						var isthis = this;
						 api.qztp(isthis.name,function(data,tp){
						 	plus.nativeUI.closeWaiting()
						 	if(tp=='err'){
		                      	mui.toast("请检查您的网络")
		                      	return;
		                    } 
		                     var datas = JSON.parse(data).result[0].split("\r\n");
//					         console.log(data);
					         isthis.qzpass=datas[1];

					         if(datas[0].split("=")[1]==''){
					         	isthis.img='../../img/121.png';
					         	return;
					         }
					         isthis.img=localStorage.getItem('wenjian')+'/Ec_server/'+datas[0].split("=")[1]+'.png';
//					         console.log(isthis.img)
						 })
					},
					//alert
					read:function(){
						var srlf = this;
						srlf.tpeople=[]
                        var obj=document.getElementsByName('checkbox1');
                       for(var i=0; i<obj.length; i++){ 
								if(obj[i].checked){
									
                                      srlf.tpeople.push(obj[i].value)	
								} 							
                       }
						console.log(srlf.tpeople)

						
						   if(srlf.tpeople.length==0){
						   	mui.toast("请勾选下一节点人员");
						   	return;
						   }
						   if(srlf.SignActive != "True"){					   	
						   	srlf.people();
						   	return;
						   }
					         
						   iem = document.querySelector("input");
				                setTimeout(function(){
//				                    iem.focus();    

						api.alert(srlf.img,function(e){
							
							 if (e.index == 0) {
							 	
							 }else{
							 	var inputs='sign_psw='+e.value;
//							 	console.log(e.value)
							 	if(srlf.qzpass==inputs){
							 		
							 		srlf.people();
							 	}else{
							 		mui.toast("签章密码错误")
							 	}
							 }
						})
				                },200);
						
					},
//					提交人员
					people:function(){
						plus.nativeUI.showWaiting()
						
						var isthis = this;
						var p = isthis.tpeople.join(",")
						api.btypeople(isthis.wfdata_sid,isthis.list_sid,p,function(data,tp){
									 	
										 	if(tp=='err'){
						                      	mui.toast("请检查您的网络")
						                      	return;
						                      }
//										 	console.log(JSON.parse(data).result[0])
										 	if(JSON.parse(data).result[0]==true){ 
//										 		console.log("121")
                                                   isthis.ssubmit()                                              			                                     
								          	}else{
									             plus.nativeUI.closeWaiting()	
								          		
								          		mui.webview.toast("审批失败");
								          	}									 	
					                     } )
					},
//					最后的提交
					ssubmit:function(){
						var isthis = this;

						
						api.tysubmit(isthis.list_sid,isthis.name,isthis.human_sign_sid,isthis.text,function(data,tp){
									 plus.nativeUI.closeWaiting()	
										 	if(tp=='err'){
						                      	mui.toast("请检查您的网络")
						                      	return;
						                      }
//										 	console.log(JSON.parse(data).result[0])
										 	if(JSON.parse(data).result[0]==true){ 
										 		mui.toast("审批成功")　　
                                                   var wvs = plus.webview.all(); 　　//所有窗口对象 								 
												　　var launch = plus.webview.getWebviewById('index.html'); 　　//首页窗口对象 								 
												　　            launch.evalJS("index.fn()");
												   var self = plus.webview.currentWebview(); 　　//当前窗口对象
												　var one = plus.webview.getWebviewById('checking'); 　　//首页窗口对象 								 
												　　var two = plus.webview.getWebviewById('checked'); 　　//首页窗口对象 	
//												console.log(two)
												　　one.close('slide-out-right');  
												if(two!=null){
												　　two.close('slide-out-right');                                                 			                                     
													
												} 								 
												　　// 此时，窗口对象只剩下首页以及当前窗口，直接关闭当前窗口即可； 								 
												　　self.close('slide-out-right');                                                 			                                     
								          	}else{
								          		mui.webview.toast("审批失败");
								          	}									 	
					                     } )
					}
					
				}
				
			})
		</script>
	</body>

</html>

 