p {
	font-size: 18px;
}

span {
	color: black;
}

.bar-p {
	text-align: left;
	padding-left: 20px;
	color: black;
	font-size: 18px; font-weight: 700;
	margin: 50px 0 10px 0;
}
.show{
	float: right;
	margin-right: 10px;
	font-weight: 500;
}
.bar-div {
	border-top: 1px solid gray;
}



.splc {
	border: 1px solid black;
	width: 50%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	display: block;
	margin: 0 auto;
	border-radius: 8px;
	margin-top: 30px;
	border-color: darkslategray;
}

.biaoqian {
	position: absolute;
	background-color: #F4F3F3;
	top: 80px;
	right: 20px;
	font-size: 17px;
	font-weight: 700;
	z-index: 9;
	background: none;
	color: #3CCBA7;
	border: 1px solid #3CCBA7;
	transform: rotate(35deg);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	text-align: center;
    line-height: 100px;
}
.xqtitle{
	margin-top: 10px;
	font-size: 18px;
	color: black;
}

.listBox{
	padding-top: 5px;
}
.listBox span{
	text-align: right;
	padding-right: 5px;
}
.padding-span >div{
	font-size: 18px;
	word-wrap:break-word;
	word-break:break-all;
	display: flex; 
	justify-content: flex-start;
	align-items: center;
    color: gray;

}

.padding-span span{
	margin-right: 5px;
}
.padding-span div{
	flex: 1;
}

.hisConetnt{
	color: gray !important;
	flex: 1;
}
.hisListBox{
	margin: 0 25px;
}
.hisList{
	display: flex;
	justify-content: flex-start;
	align-items: stretch;

	flex-direction: column;
}

.hisleft{
  height: 50px;
  line-height: 50px;
  position: relative;
  left: -6px;
}
.hiscontentBox{
	padding-left: 10px;
	border-left: 1px dashed gray;
	font-size: 15px;
}
.hiscontent{
	flex:1;
	padding: 15px 10px 1px 10px;
	background: white;
	border-radius: 5px;
	box-shadow: 1px 1px 3px lightgray;


}
.hisTit{
	
 flex: 1;
 color: gray;
}
.hiscontent >div{
	display: flex;
	justify-content: space-between;
	align-content: center;
	margin-bottom: 10px;
	color: gray;
}
.gray{
	color: gray;
}
.black{
	font-weight: 700;
}
.hisList span{	
	word-break:break-all;
	word-wrap:break-word;
}

.buttonBox{
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 45px;
  background: white;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
.buttonBox button{

	flex: 1;
	margin: 0;
	background: #409eff;
	border: none;
	border-radius: 0;
	color: white;
	font-size: 20px;
}

.buttonBox .fj{
	background: #e6a23c;
}
.head{
	background: white;
	padding: 20px 15px 15px 15px;
	box-sizing: border-box;
	box-shadow: 1px 1px 3px lightgray;
}
.head .li1{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.head .li1 span{
	width: 100px;
	color: gray;

}
.head p{
	flex: 1;
	color: black;
}

.item{
	margin: 15px;
	background: white;
	padding: 15px 15px 10px 15px;
	border-radius: 5px;
	box-shadow: 1px 1px 3px lightgray;	
}
.item >p{
	color: black;
	height: 30px;
	border-bottom: 1px solid lightgray;
	font-weight: 700;
}
.item >div{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 10px;
}
.item >div span{
	width: 80px;

	color: black;
}
.item >div div{
	color: gray;
	flex: 1;
}
