<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="js/rem.js"></script>
		<link rel="stylesheet" href="css/style.css" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/index.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/pullrefresh.css" />
		<link rel="stylesheet" type="text/css" href="css/iconfont1.css" />

	</head>

	<body id='index'>
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">工作台</h1>
		</header>
		<div class="mui-content mui-inner-wrap" v-cloak>
			<!--<div class="network" v-if='wxss'>网络不给力，请检查网络设置。</div>-->
			<div class="mui-sc">

				<div class="box" v-for="item in table">
					<p>{{item.name}} </p>
					<div class="li">
						<div v-for="v in item.list" @tap='deal(v.name,v.pid)' v-if="item.name=='工作台'">
							<span class="mui-icon iconfont" :class="v.icon"></span>
							<div class="mui-media-body" style="text-align: center;">{{v.name}}</br>({{numObj[v.pid]}})</div>
						</div>
						<div v-for="v in item.list" @tap='list(v.name,v.pid)' v-if="item.name!='工作台'">
							<span class="mui-icon iconfont" :class="v.icon"></span>
							<div class="mui-media-body" style="text-align: center;">{{v.name}}</br>({{numObj[v.pid]}})</div>
						</div>
					</div>

				</div>
			</div>
		</div>


		<script src="js/mui.min.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/serve.js"></script>
		<script src="js/Obj.js"></script>
		<script src="js/mui.pullToRefresh.js"></script>
		<script src="js/mui.pullToRefresh.material.js"></script>
		<script type="text/javascript" charset="utf-8">
			var deceleration = mui.os.ios ? 44.003 : 0.0009;
			var index = new Vue({
				el: '#index',
				data: {
					human_sid: '',
					itm: [],
					img: '',
					title: '',
					bb: '',
					obj: "",
					wxss: false,
					table: objs.list,
					numObj: {}
				},
				ready: function() {
					var _this = this;
					mui.init({
						swipeBack: false
					});
					mui.plusReady(function() {
						var obj = JSON.parse(plus.storage.getItem("loginData"))
						_this.human_sid = obj.human_sid;
						_this.obj = obj
						
						_this.getCount()
						TB.udate()

					})

					mui.ready(function() {
						mui.each(document.querySelectorAll('.mui-content .mui-sc'), function(index, pullRefreshEl) {
							mui(pullRefreshEl).pullToRefresh({
								down: {
									callback: function() {
										var self = this;
										_this.getCount(self)

									}
								}

							});
						});
					})
					// 退出的逻辑
					TB.back();
					if (mui.os.plus && mui.os.ios) {
						mui.plusReady(function() {
							plus.webview.currentWebview().setStyle({
								'popGesture': 'none'
							});
						});
					}
				},
				methods: {
					getCount: function(self) {
						var data = {
							"accountname": this.obj.accountname,
							"human_sid": this.human_sid
						}
						TB.get("GetWfDataCount/", JSON.stringify(data), function(res) {
							this.numObj = {}
							var numObj = {}
							res.data.forEach(function(v) {
								var obj = JSON.parse(v)
								numObj[obj.stype] = obj.icount
							})
							this.numObj = numObj
							if (mui.os.ios) {
								var GeTuiSdk = plus.ios.importClass('GeTuiSdk');
								GeTuiSdk.setBadge(this.numObj.checking); //设置角标  
							} else {
								plus.runtime.setBadgeNumber(this.numObj.checking);
							}

							self && self.endPullDownToRefresh();
						}.bind(this))

					},
					deal: function(titles, dat) {
						TB.open('html/peding/' + dat + '.html', dat, {
							ID: dat,
							title: titles
						}, 'slide-in-right')
					},
					list: function(titles, dat) {
						TB.open('html/peding/list.html', 'list', {
							ID: dat,
							title: titles
						}, 'slide-in-right')
					},

				}

			})
		</script>

	</body>

</html>
