<!DOCTYPE html>
<html class="ui-page-login">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title></title>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/style.css" rel="stylesheet" />
		<style>
			body,
			.mui-content {
				background: white !important;
			}
			
			.mui-input-group:before {
				background: transparent;
			}
			
			.mui-input-group:after {
				background: transparent;
			}
			
			.mui-input-group .mui-input-row {
				margin-bottom: 10px;
			}
		</style>

	</head>

	<body id="login">
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">登录</h1>
		</header>
		<div class="mui-content">
			<p class="login">登录</p>
			<form class="mui-input-group">
				<div class="loginli mui-input-row">
					<input v-model='username' type="text" class="mui-input-clear mui-input" placeholder="请输入账号">
				</div>
				<div class="loginli mui-input-row">
					<input v-model='password' type="password" class=" mui-input mui-input-password" placeholder="请输入密码">
				</div>
				<div class="logindiv" style="color: gray;">
					自动登录
					<div id="autoLogin" class="mui-switch">
						<div class="mui-switch-handle"></div>
					</div>
				</div>
			</form>
			<div class="loginbtn">
				<button id='login' type="button" class="mui-btn mui-btn-block  mui-btn-primary" v-on:tap='login()'>登录</button>
			</div>
			<div class="pei"><span @click="show=!show">配置信息</span></div>

			<form class="mui-input-group" v-show="show">
				<div class="loginli mui-input-row">
					<input v-model='http' type="text" class="mui-input-clear mui-input" placeholder="请输入服务器配置">
				</div>
				<div class="loginli mui-input-row">
					<input v-model='failPath' type="text" class="mui-input-clear mui-input" placeholder="请输入文件服务器配置">
				</div>
			</form>
			<!--<input v-model='username' type="text" class="mui-input-clear mui-input" placeholder="请输入账号">-->
		</div>

		<script src="js/vue.js"></script>
		<script src="js/mui.min.js"></script>
		<script src="js/serve.js"></script>
		<script src="js/app.js"></script>
		<script>
			var settings;
			var login = new Vue({
				el: '#login',
				data: {
					istrue: false,
					username: "",
					password: "",
					http: "",
					failPath: "",
					show: false
				},
				ready: function() {
					mui.init();
					var _this = this
					mui.plusReady(function() {

						TB.closeRight()
						_this.username = localStorage.getItem('zhanghao')
						settings = app.getSettings();
						var hh = plus.display.resolutionHeight;
						plus.storage.setItem('hei', hh.toString())

						_this.http = localStorage.getItem('http') || 'http://117.71.52.195:201'
						_this.failPath = localStorage.getItem('failPath') || 'http://117.71.52.195:202'

						var autoLoginButton = document.getElementById("autoLogin");
						if(settings.autoLogin) {
							mui.openWindow({
								url: 'main.html',
								id: 'main',
							});
							return;
						} else {
							plus.navigator.closeSplashscreen()
						}
						autoLoginButton.classList[settings.autoLogin ? 'add' : 'remove']('mui-active')
						autoLoginButton.addEventListener('toggle', function(event) {
							setTimeout(function() {
								var isActive = event.detail.isActive;
								settings.autoLogin = isActive;
							}, 50);
						}, false);
					})
					// 退出的逻辑
					TB.back()
				},
				methods: {
					isEmpty: function(value) {
						var validateReg = /^\S+$/;
						return validateReg.test(value);
					},

					login: function() {
						var username = this.username;
						var password = this.password;
						if(!this.isEmpty(username)) {
							mui.toast("账号不能为空");
							return;
						}
						if(!this.isEmpty(this.http) || !this.isEmpty(this.failPath)) {
							mui.toast("服务器配置和文件服务器配置不能为空");
							return;
						}
						plus.nativeUI.showWaiting()
						var data = {
							"accountname": "hc",
							"uc": username,
							"pwd": password
						}
						localStorage.setItem('http', this.http)
						localStorage.setItem('failPath', this.failPath)

						TB.get("NewSystem_Login/", JSON.stringify(data), function(res) {
							app.setSettings(settings);
							localStorage.setItem('zhanghao', username);
							res.accountname = "hc"
							plus.storage.setItem("loginData", JSON.stringify(res))

							setTimeout(function() {
								mui.openWindow({
									url: 'main.html',
									id: 'main',
									show: {
										aniShow: 'zoom-fade-out'
									},
									waiting: {
										autoShow: false, //自动显示等待框，默认为true
										title: '正在登陆...', //等待对话框上显示的提示内容				     
									}
								});
							}, 1000);
						})

					}
				}
			})
		</script>
	</body>

</html>