<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
		<style>
			.head-img {
				width: 40px;
				height: 40px;
				position: absolute;
				top: 17px;
				right: 38px;
			}
			input {
				border: none;
				text-align: end;
			}
			.input1 {
				position: absolute;
				right: 0;
				z-index: 1;
				width: 60% !important;
				border: none !important;
				top: 0px;
			}
		</style>
	</head>

	<body id="me">
		<header class="mui-bar mui-bar-nav bg">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<a class=" mui-icon mui-icon mui-icon-checkmarkempty mui-pull-right" style="font-size: 30px;" @click='submits()'></a>

			<h1 class="mui-title">个人中心</h1>
		</header>
		<div class="mui-content">
				<ul class="mui-table-view" style="margin-top: 15px;">
					<li class="mui-table-view-cell" v-on:tap="head()">
						<a class="mui-navigate-right" style="line-height: 50px;">头像
							<span class="mui-pull-right head"></span>
						</a>
					</li>
					<img class="head-img mui-action-preview " id="head-img" v-bind:src="img" data-preview-src="" data-preview-group="1" />

					<li class="mui-table-view-cell">
						<a>姓名<span class="mui-pull-right">{{obj.human_name}}</span></a>
					</li>

				</ul>
				<ul class="mui-table-view" style="margin-top: 15px;">
					<li class="mui-table-view-cell">
						邮箱地址<input type="text" class="mui-pull-right input1" v-model="people.email"></input>
					</li>
					<li class="mui-table-view-cell">
						手机号<input type="text" class="mui-pull-right input1" v-model="people.mobile"></input>
					</li>
					<li class="mui-table-view-cell">
						固定电话<input type="text" class="mui-pull-right input1" v-model="people.phone"></input>
					</li>
					<li class="mui-table-view-cell">
						分机号<input type="text" class="mui-pull-right input1" v-model="people.phone_2"></input>
					</li>
				</ul>

		</div>

		
	</body>
       <script src="../../js/mui.min.js" type="text/javascript"></script>
		<script src="../../js/vue.js" type="text/javascript"></script>
		<script src="../../js/serve.js" type="text/javascript"></script>
		<script src="../../js/base.js" type="text/javascript"></script>
		<script type="text/javascript">
			// mui.previewImage();
			var WD = new Vue({
				el: '#me',
				data: {
					obj: {},
					img: '',
					people: {},

				},
				ready: function() {
					mui.init({
						swipeBack: true
					})
					var serf = this;
					mui.plusReady(function() {
						this.obj = JSON.parse(plus.storage.getItem("loginData"));
						this.img = plus.storage.getItem("img") || "../../img/1.jpg";
						this.getData()

					}.bind(this))
				},
				methods: {
					getData: function() {
						var data = {
							"accountname": this.obj.accountname,
							"human_sid": this.obj.human_sid,
						}
						TB.get("GetHumanInfo/", JSON.stringify(data), function(res) {
							this.people = res
							console.log(JSON.stringify(res))
						}.bind(this))

					},
					submits: function() {
						var obj = this.people;
						var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
						console.log(JSON.stringify(obj))

						if(obj.email == "" || obj.mobile == "" || obj.phone == "" || obj.phone == "") {
							mui.toast("电话或者邮箱不能为空！");
							return
						}
						if(!filter.test(obj.email)) {
							mui.toast("邮箱格式不对！");
							return

						}
						if(obj.mobile.length != 11) {
							mui.toast("请输入有效的手机号");
							return

						}
						var data = {
							"accountname": this.obj.accountname,
							"phone": obj.phone,
							"phone_2": obj.phone_2,
							"email": obj.email,
							"mobile": obj.mobile,
							"human_sid": this.obj.human_sid,

						}
						TB.get("PostHumanInfo/", JSON.stringify(data), function(res) {
							mui.toast("修改成功！")

						}.bind(this))

					},
					head: function() {
						var sre = this;
						if(mui.os.ios) {
							sre.galleryImg();
						} else {

							a = [{
								title: "拍照"
							}, {
								title: "从手机相册选择"
							}];
							plus.nativeUI.actionSheet({
								title: "修改头像",
								cancel: "取消",
								buttons: a
							}, function(b) {
								switch(b.index) {
									case 0:
										break;
									case 1:
										sre.getImage();
										break;
									case 2:
										sre.galleryImg();
										break;
									default:
										break
								}
							})
						}
					},
					//拍照
					getImage: function() {
						var getI = this;
						var mobileCamera = plus.camera.getCamera();
						mobileCamera.captureImage(function(e) {
							plus.io.resolveLocalFileSystemURL(e, function(entry) {
								var path = entry.toLocalURL() + '?version=' + new Date().getTime();
								getI.uploadHeadImg(path);
							}, function(err) {
								mui.toast("读取拍照文件错误");
							});
						}, function(e) {
							mui.toast("错误：", err);
						}, function() {
							filename: '_doc/head.png';
						});
					},

					//从本地相册选择
					galleryImg: function() {
						var gall = this;
						console.log("你选择了从相册选择");
						plus.gallery.pick(function(a) {
							plus.io.resolveLocalFileSystemURL(a, function(entry) {
								plus.io.resolveLocalFileSystemURL('_doc/', function(root) {
									root.getFile('head.png', {}, function(file) {
										//文件已经存在
										file.remove(function() {
											entry.copyTo(root, 'head.png', function(e) {
												var path = e.fullPath + '?version=' + new Date().getTime();
												gall.uploadHeadImg(path);
											}, function(err) {
												console.log("copy image fail: ", err);
											});
										}, function(err) {
											console.log("删除图片失败：（" + JSON.stringify(err) + ")");
										});
									}, function(err) {
										//打开文件失败
										entry.copyTo(root, 'head.png', function(e) {
											var path = e.fullPath + '?version=' + new Date().getTime();
											gall.uploadHeadImg(path);
										}, function(err) {


										});
									});
								}, function(e) {

								});
							});
						}, function(err) {

						}, {
							filter: 'image'
						});
					},

					//上传图片
					uploadHeadImg: function(imgPath) {
						var upl = this;
						var mainImg = document.getElementById('head-img');
						pathToBase64("file://"+imgPath).then(base64 => {
							var image = base64;
								mainImg.src =image
								console.log(image)
									plus.storage.setItem("img", image);
									// upl.submitImg(upl.getBase64Image(image))
									var i = plus.webview.getWebviewById("me.html");
									i.evalJS("me.headimg()");
							})
							.catch(error => {
								console.error(error)
							})
						
						
					},
					submitImg:function(imgData){
							console.log(imgData)
							TB.post({
								url:"esUpFile",
								data:{
									"accountname": this.obj.accountname,
									"base64str": imgData,
									"sfile":"1558877944547.png"																
								}
							}, function(res) {


						}.bind(this))
						
					},
					
					//压缩图片转成base64
					getBase64Image: function(img) {
						var canvas = document.createElement("canvas");
						var width = img.width;
						var height = img.height;
						//				     calculate the width and height, constraining the proportions
						if(width > height) {
							if(width > 500) {
								height = Math.round(height *= 500 / width);
								width = 500;
							}
						} else {
							if(height > 500) {
								width = Math.round(width *= 500 / height);
								height = 500;
							}
						}
						canvas.width = width; /*设置新的图片的宽度*/
						canvas.height = height; /*设置新的图片的长度*/
						var ctx = canvas.getContext("2d");
						console.log(12)
						ctx.drawImage(img, 0, 0, width, height); /*绘图*/
						console.log(123)
						var dataURL = canvas.toDataURL("image/png", 0.8);
						return dataURL.replace("data:image/png;base64,", "");
					}
				}
			})
		</script>
</html>