<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
	</head>
	<body id='qpass'>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<a class="  mui-pull-right" style="font-size: 18px;margin-top: 14px;" @tap='submits()'>提交</a>
			<h1 class="mui-title">修改签章密码</h1>
		</header>
		<div class="mui-content">
			<form class="mui-input-group" style="margin-top: 14px;">
				<div class="mui-input-row">
					<label>旧密码</label>
					<input type="password" class="mui-input-password" placeholder="请输入旧密码" v-model='jmm'>
				</div>
				<div class="mui-input-row">
					<label>新密码</label>
					<input type="password" class="mui-input-password" placeholder="请输入新密码" v-model='xmm'>
				</div>
				<div class="mui-input-row">
					<label>新密码</label>
					<input type="password" class="mui-input-password" placeholder="请再次输入新密码" v-model='xxmm'>
				</div>
			</form>

		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/vue.js"></script>
		<script src="../../js/serve.js"></script>
		<script>
			var qpass = new Vue({
				el: '#qpass',
				data: {
					obj: '',
					jmm: "",
					xmm: "",
					xxmm: ""
				},
				ready: function() {
					mui.init({
						swipeBack: true
					});
					mui.plusReady(function() {
						this.obj = JSON.parse(plus.storage.getItem("loginData"));
						// console.log(JSON.stringify(this.obj))
					}.bind(this))
				},
				methods: {
					submits: function() {
						if (this.xmm != this.xxmm) {
							mui.toast("两次输入的新密码不一致")
							return
						}
						var obj = {
							accountname: this.obj.accountname,
							user_code: this.obj.uc,
							OldPass: this.jmm,
							NewPass: this.xmm,
						}
						console.log(JSON.stringify(obj))
						// TB.get("ChangePassword/", JSON.stringify(obj), function(res) {
						// 	mui.toast("修改成功！");
						// 	for (var i in storage) {
						// 		if (i == 'http' || i == 'failPath' || i == 'zhanghao') {
						// 		} else {
						// 			localStorage.removeItem(i);
						// 		}
						// 	}
						// 	plus.runtime.restart();
						// }.bind(this))
					}
				}
			})
		</script>
	</body>

</html>
