<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.indexedlist.css" rel="stylesheet" />
		 <link rel="stylesheet" type="text/css" href="../css/iconfont.css"/>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/style.css"/>
		<link href="../css/phone.css" rel="stylesheet" />
	</head>   
	<body id='seach'>			
        <header class="mui-bar mui-bar-nav">
            <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="width: 10%;"></a>
        
        <div class="mui-input-row mui-search" style="width:87%;display: inline-block;margin-left: 3%;">
            <input type="search" class="mui-input-speech mui-input-clear" placeholder="输入关键词搜索" v-model='name'>
        </div>
    </header>
		<div class="mui-content">
			<div class="mui-scroll">
				<ul class="mui-table-view" >
					<li v-if='name!=""'  
						class="mui-table-view-cell mui-indexed-list-item" 
						v-for="i in itm  | filterBy name in 'name' " 
						v-on:tap="phos(i.phone,i.name)">
						{{i.name.split("-")[0]}}</li>
									
				</ul>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		
		<script src="../js/api.js"></script>
		<script src="../js/app.js"></script>
		<script src="../js/jquery-3.1.0.min .js"></script>

		<script src="../js/vue.js"></script>
		<script type="text/javascript">
		var seach=new Vue({
			el:'#seach',
			data:{
				name:'',
				itm:[]
			},
			ready:function(){
				mui.init();	
				var self = this;
				mui.plusReady(function() {		 	 	
					var selfff = plus.webview.currentWebview();									
					self.itm=selfff.data;
					console.log(self.itm)	
					
				});
				  
			},
			methods:{
				phos:function(phone,name){
                     var sre=this;
					if(phone==""){
					   return;	
					}
					a=[{
						title: "打电话"
					}, {
						title: "发短信"
					}];
					plus.nativeUI.actionSheet({
					    title:'-'+name,
						
						cancel: "取消",
						buttons: a
					},function(b){
						switch(b.index){
							case 0:
							    break;
							case 1:
								sre.phon(phone);
								break;
							case 2:
								sre.sms(phone);
								break;
							default:
								break
						}
					})
					
				},
				phon:function(i){
					console.log(i)
					plus.device.dial( i , confirm ) 
					
				},
				sms:function(i){
					console.log(i)
					var msg = plus.messaging.createMessage(plus.messaging.TYPE_SMS);
					msg.to = [i];
					msg.body = ''; 
					plus.messaging.sendMessage( msg );

				},
			}
		})
			
		</script>
	</body>

</html>